@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  background-color: black;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(56, 56, 56);
  border-radius: 16px;
}